{% extends 'base.html.twig' %}

{% block title %}Retour d'un livre{% endblock %}

{% block body %}
        <h3>Entre le numéro du livre</h3>
        {{ include('biblio_emprunt/_form.html.twig') }}
        {{ include('footer.html.twig') }}
{% endblock %}
