{% extends 'base.html.twig' %}

{% block title %}Bibliothèque - Accueil{% endblock %}

{% block body %}
    <main class="home">
        <div class="row justify-content-center">
            <h1 class="col-12 text-center">Choisis ce que tu veux faire</h1>
            <div class="col-12 col-md-6 text-center mb-2">
                <img src="{{ asset('images/emprunt.gif') }}">
            </div>
            <div class="col-12 col-md-6 text-center">
                <img src="{{ asset('images/retour.gif') }}">
            </div>
        </div>
    </main>
{% endblock %}