{% extends 'base.html.twig' %}

{% block title %}Bibliothèque - Accueil{% endblock %}

{% block body %}
    <main class="home">
        <div class="row">
            <h1 class="col-12 text-center">Choisis ce que tu veux faire</h1>
        </div>
    </main>
{% endblock %}