{% extends 'base.html.twig' %}

{% block title %}Bibliothèque - Accueil{% endblock %}

{% block body %}
    <main class="home">
        <div class="row justify-content-center">
            <h3 class="col-12 text-center p-3">Choisis ce que tu veux faire</h3>
            <div class="col-12 col-md-5 text-right mb-2">
                <a href="{{ path('biblio_emprunt') }}" title="Emprunt">
                    <img class="home-button" src="{{ asset('images/emprunt.gif') }}">
                </a>
            </div>
            <div class="col-12 col-md-5 text-left">
                <a href="{{ path('biblio_retour') }}" title="Retour">
                    <img class="home-button" src="{{ asset('images/retour.gif') }}">
                </a>
            </div>
        </div>
    </main>
{% endblock %}