{% extends 'base.html.twig' %}

{% block title %}Nouveau livre{% endblock %}

{% block body %}
<div class="form-group row justify-content-center">
    <div class="col-8">
        <h1 class="text-center">Ajouter un nouveau livre</h1>
        {{ include('biblio_book/_form.html.twig') }}
    </div>
</div>
{% endblock %}
