<div class="row justify-content-center">
    <div class="col-12 col-md-5 text-right mb-2">
        <a href="{{ path('biblio_emprunt') }}" title="Emprunt">
            <img class="home-button-small" src="{{ asset('images/emprunt-small.gif') }}">
        </a>
    </div>
    <div class="col-12 col-md-5 text-left">
        <a href="{{ path('biblio_retour') }}" title="Retour">
            <img class="home-button-small" src="{{ asset('images/retour-small.gif') }}">
        </a>
    </div>
</div>