{% extends 'base.html.twig' %}

{% block title %}Nouvel élève{% endblock %}

{% block body %}
    <h1>Ajouter un élève</h1>

    {{ include('biblio_user/_form.html.twig') }}

    <a href="{{ path('biblio_user_index') }}">back to list</a>
{% endblock %}
